.background_color{
/* background-color: rgb(82, 158, 6,0.7);
 */
 background-color: #9bad32;
}
a{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.profilePicture{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    margin-right: 10px;
}

