.background_color{
/* background-color: rgb(82, 158, 6,0.7);
 */
 background-color: #4267B2;
}
.link_style{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
.profilePicture{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    margin-right: 10px;
}
.profilePicture:hover{
    
}