.banner {
    border: 5px solid white;
    padding: 25px;
    /* background-color: black; */
    /* opacity: 60; */
    background-image: url("https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?size=626&ext=jpg&uid=R103354572&ga=GA1.2.1614607020.1683036746&semt=sph");
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

.banner-title {
    /* text-align: center; */
    margin-top: 25px;
    margin-left: 50px;
    padding-top: 30px;
    padding-left: 20px;
}

.hello {
    font-size: 50px;
    font-weight: 600;

    color: rgb(218, 215, 211);
}

.mrChef {
    font-size: 70px;
    font-weight: 800;
    color: rgb(255, 255, 254);
}

.chefsdetails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  
}
.sec {
   margin-top: 160px;
   margin-bottom: 160px;
  
}

.sponserSpace{
    margin-bottom: 40px;
}

@media screen and (max-width:576px) {
    .chefsdetails {
        grid-template-columns: repeat(1, 1fr);

    }
    .hello {
        font-size: 20px;
        font-weight: 400;
    
        color: rgb(218, 215, 211);
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .chefsdetails {
        grid-template-columns: repeat(2, 1fr);

    }
}